docker {
    enabled = true
    temp = 'auto'
}

params {
    
    reads = "$baseDir/test_data/*R{1,2}*.gz"
    ref = "$baseDir/test_data/phiX174.reference.fasta"
    outputDir = "baseDir/output"
    
    
    bwa_mem2_docker = 'luna0110/bwa-mem2:v2.2.1'
    samtools_docker = 'luna0110/samtools:v1.16'
    multiqc_docker = 'alexwaldrop/multiqc:v1.13'

}
